.DS_Store
memo*
fonts
update_file.list
gclone
fonts

vim/skk/SKK*

vim/.vim/colors
vim/.vim/pack/plugins/start
vim/.vim/plugged/tokyonight-vim
vim/.vim/plugged/vim-quickrun
vim/rc/bashrc_update.log
vim/rc/reference_setting.vim
